head
    style
        include ./cv.css
    title Web Pages
form(method='GET' action='submit_form')
  h1 Please! Enter the university you want to see webpages!
    label(for='name') University Name:
    input#username(type='text' name='university' placeholder='e.g: Quaid I Azam Univeristy, Islamabad')
    input#submit.btn(type='submit' name='id' value='Submit Form')
    input.btn1(type='reset' name='id' value='Reset')
                            

